@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 99.9%;
  position: fixed;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 700px;
  height: 100vh;
  max-width: 450px;
  border: 1px solid #000;
  padding: 0.5rem 0;
  margin: auto;
  background: #eee;
  overflow: hidden;
  position: relative;
}
/* search box */
.search {
  justify-content: space-between;
  width: 80%;
  padding: 14px 16px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 10px #ddd;
  margin: 20px auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  gap: 4px;
}
.search input {
  width: 80%;
  height: 30px;
  outline: 0;
  border: 1px solid #bbb;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search input::placeholder {
  color: #bbb;
}

.search button {
  width: 20%;
  padding: 5px 28px 5px 0;
  height: 30px;
  outline: 0;
  background: #fff;
  border: 1px solid #bbb;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.search button::before {
  width: 1px;
  height: 60%;
  background: #bbb;
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ri-search-line {
  margin-left: 30px;
}

.search > .box {
  display: flex;
  width: 100%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.search_engine {
  width: 100%;
  display: flex;
}

/* Map */
#map {
  position: absolute !important;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#map img {
  width: 100%;
}

.detail_box {
  width: 100%;
  height: 400px;
  background: #fff;
  position: absolute;
  z-index: 999;
  bottom: 0;
  box-shadow: 0 0 10px #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.2s cubic-bezier(0.81, 0.77, 0.1, 0.95);
}

.guide {
  position: absolute;
  width: 50%;
  height: 30px;
  background: #fff;
  left: 50%;
  top: -30px;
  box-shadow: 0 -4px 10px #ccc;
  transform: translateX(-50%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
}
.guide i {
  font-size: 25px;
}

.detail_wrapper {
  padding: 10px 15px;
}

.detail_title {
  border-bottom: 1px solid #bbb;
  margin-bottom: 12px;
}

.detail_title h2 {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 12px 0;
}

.detail_info {
  display: flex;
  gap: 4px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

.detail_info > div {
  padding: 8px 15px;
  border: 1px solid #ccc;
  width: 25%;
  border-radius: 8px;
  text-align: center;
}

.detail_info > div > h3 {
  font-size: 11px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}

.detail_info > div > h3:last-child {
  border-bottom: 0;
}

.detail_text {
  width: 100%;
  margin-top: 12px;
}

.detail_text > div {
  display: flex;
  margin-bottom: 12px;
}

.detail_text > div.tell {
  _margin: 12px 0;
}

.detail_text > div > div > p {
  padding-left: 20px;
}

.detail_text > div > div > p:first-child {
  position: relative;
}

.detail_text > div > div > p:first-child::before {
  content: '';
  width: 1px;
  height: 50%;
  background: #bbb;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.detail_text > div > div:nth-child(1) {
  width: 20%;
  text-align: center;
}
.detail_text > div > div:nth-child(2) {
  width: 80%;
  padding-left: 20px;
}
